.field {
  display: flex;
  flex-flow: column-reverse;
}

.input-label {
  transition: all 0.2s;
  touch-action: manipulation;
  background-color: rgb(255, 255, 255);
}

.input-field {
  background-color: rgb(255, 255, 255);
  /* font-size: 1.5em; */
  border: 0;
  transition: all 0.2s;
  border-bottom: 1px solid black;
  font-family: inherit;
  -webkit-appearance: none;
  cursor: text;
  color: black;
  padding: 35px;
  font-size: 30px;
}

.input-field:focus {
  outline: 0;
  background-color: rgb(234, 250, 253);
  border-bottom: 2px solid rgb(155, 190, 235);
}

.input-label {
  letter-spacing: 0.05em;
}

.input-field:placeholder-shown + .input-label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.input-field:focus::-webkit-input-placeholder {
  opacity: 1;
}

.input-field:not(:placeholder-shown) + .input-label,
.input-field:focus + .input-label {
  background: linear-gradient(25deg, rgb(234, 250, 253), rgb(255, 255, 255));
  padding: 0.5%;
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: black;
}
