.field {
  display: flex;
  flex-flow: column-reverse;
}

.input-label {
  transition: all 0.2s;
  touch-action: manipulation;
  background-color: rgb(255, 255, 255);
  color: var(--global-color);
  font-size: 24px;
}
.bigger-input-field {
  background-color: #0d0427;
  /* font-size: 1.5em; */
  border: 0;
  transition: all 0.2s;
  border-bottom: 0.5px solid rgb(209, 209, 209);
  font-family: inherit;
  -webkit-appearance: none;
  cursor: text;
  color: black;
  padding: 35px;
  font-size: 30px;
  color: var(--global-color);
  /* transition: min-height 1s; */
  min-height: 200px;
}
.input-field {
  background-color: #0d0427;
  /* font-size: 1.5em; */
  border: 0;
  transition: all 0.2s;
  border-bottom: 0.5px solid rgb(209, 209, 209);
  font-family: inherit;
  -webkit-appearance: none;
  cursor: text;
  color: black;
  padding: 35px;
  font-size: 30px;
  color: var(--global-color);
}
.bigger-input-field:focus {
  outline: 0;
  min-height: 500px;
  border-bottom: 2px solid var(--global-color);
}
.input-field:focus {
  outline: 0;

  border-bottom: 2px solid var(--global-color);
}

.input-label {
  letter-spacing: 0.05em;
  background-color: #0d0427;
  color: rgb(209, 209, 209);
  margin-bottom: 0%;
}

.bigger-input-field:placeholder-shown + .input-label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
.input-field:placeholder-shown + .input-label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.input-field:focus::-webkit-input-placeholder {
  opacity: 1;
}

.input-field:not(:placeholder-shown) + .input-label,
.input-field:focus + .input-label {
  padding: 0.5%;
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: var(--global-color);
}
.bigger-input-field:focus::-webkit-input-placeholder {
  opacity: 1;
}

.bigger-input-field:not(:placeholder-shown) + .input-label,
.bigger-input-field:focus + .input-label {
  padding: 0.5%;
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: var(--global-color);
}
