.menu {
  position: absolute;
  width: 70%;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  left: 25%;
  top: 15%;
  color: var(--global-color);
}
.navBarMenu {
  position: absolute;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr;
  right: 0%;
  top: 0%;
  color: var(--global-color);
}
.FullStackDeveloper {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.FullStackDeveloper h1 {
  font-family: "Big Shoulders Display";
  font-size: var(--full-stack-font-H1-font-size);
  margin: 0px;
  grid-auto-columns: min-content;
  font-weight: var(--full-stack-font-H1-axis-weight);
}

.motionGraphics h1 {
  font-family: "Lemonada";
  font-size: var(--animation-design-font-H1-font-size);
  margin: 0px;
  grid-auto-columns: min-content;
  font-weight: var(--animation-design-font-H1-axis-weight);
}

.contact h1 {
  font-family: "Bodoni Moda", serif;
  font-size: var(--contact-stack-font-H1-font-size);
  margin: 0px;
  grid-auto-columns: min-content;
  width: 100%;
  font-weight: var(--contact-stack-font-H1-axis-weight);
}
.motionGraphics {
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
}
.me h1 {
  font-family: "Open Sans", sans-serif;
  font-size: var(--me-stack-font-H1-font-size);
  grid-auto-columns: min-content;
  margin: 0px;
  font-weight: var(--me-stack-font-H1-axis-weight);
}
.me {
  grid-auto-rows: minmax(min-content, max-content);
}
