.cardDescription {
  color: var(--global-color);
  padding: 20px;
  position: fixed;
  backdrop-filter: blur(10px);
  width: 100%;
  font-family: "Josefin Slab", serif;
  font-weight: 500;
  font-size: 15px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid var(--global-color);
}
.likeButton {
  color: var(--global-color);
  background-color: transparent;
  border: var(--global-color);
  border-radius: 25%;
  padding: 10px;
  transform: scale(1);
  transition: 0.2s ease-out;
  cursor: pointer;
  margin-right: 50px;
  justify-self: right;
}
.likeButton:hover {
  transform: scale(2);
}
.likeDiv {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cardDescriptionMobile {
  color: var(--global-color);
  padding: 20px;
  position: fixed;

  font-family: "Josefin Slab", serif;
  font-weight: 500;
  font-size: 12px;
  left: 40%;
  top: 0px;
  border: 1px solid var(--global-color);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
