.menu {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.FullStackDeveloper {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.FullStackDeveloper h1 {
  font-family: "Big Shoulders Display";
  font-size: 120px;
}
.motionGraphics h1 {
  font-family: "Lemonada", cursive;
  font-size: 50px;
}
.contact h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 70px;
}
.motionGraphics {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.me h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 70px;
}
