body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --global-font-family: Verdana, sans-serif;
  --global-font-p-size: 12px;
  --global-font-h1-size: 80px;
  --global-font-H1-axis-weight: 200;
  --full-stack-font-H1-axis-weight: 200;
  --animation-design-font-H1-axis-weight: 200;
  --contact-stack-font-H1-axis-weight: 200;
  --me-stack-font-H1-axis-weight: 200;

  --global-text-color: rgb(0, 0, 0);
  --global-primary-title-size: 2rem;
}
